<h2>Поиск сотрудников по&nbsp;их&nbsp;задачам и&nbsp;результатам работы</h2>

<form class="form-search">
  <input name="query" type="text" value="<%= params[:query] %>"
         class="search-query" autofocus placeholder="оформление договоров"
         style="width: 94%;">
</form>

<table class="table table-striped">
  <%= render @employees %>
</table>