<h1>Редактирование сотрудника</h1>

<%= render 'form' %>

<%= link_to 'Просмотреть сотрудника', @employee %>
<br>
<%= link_to '← К подразделению сотрудника', @employee.department %>
<br>
<%= link_to '← Ко всем сотрудникам', employees_path %>
