<dl class="assignment">
  <dt>
    <strong><%= assignment.task %></strong>
  </dt>
  <dd data-id="<%= assignment.id %>">
    <dl>
      <%= render assignment.results %>
      <dd>
        <span class="fake-link toggle-add-result">
          + Добавить выполненную работу
        </span>
        <div class="assignment" style="display: none;">
          <%= render 'results/form', :assignment => assignment  %>
        </div>
      </dd>
    </dl>
  </dd>
</dl>