.assignment {
  margin-top: 30px;

  &:first-child {
    margin-top: 0;
  }

  .toggle-add-result {
    visibility: hidden;
  }

  a {
    visibility: hidden;
  }

  &:hover {
    .toggle-add-result {
      visibility: visible;
    }

    a {
      visibility: visible;
    }
  }
}